.itemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.itemContainer li {
    width: 250px;
    list-style-type: none;
    font-size: 18px;
}

.editBtn {
    padding: 5px;
    width: 60px;
    margin-right: 15px;
}

input[type="text"] {
  width: 300px;
  margin-right: 20px;
}

.cancelBtn {
  margin-right: 70px;
}


@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 914px) {
  input[type="text"] {
    width: 300px;
  }
}