.itemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.itemContainer li {
    width: 250px;
    list-style-type: none;
    font-size: 18px;
}

.editBtn {
    padding: 5px;
    width: 60px;
    margin-right: 15px;
}